<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Projeto Cliente</h5>
      <p class="card-text">Pesquise seus clientes cadastrados:</p>

      <div *ngIf="mensagemCadastro" class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{mensagemCadastro}}</strong>
        <button (click)="mensagemCadastro = ''" type="button" class="btn-close" aria-label="Close"></button>
      </div>

      <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
        <p style="color: white">Processando, por favor aguarde...</p>
      </ngx-spinner>

      <form [formGroup]="formConsulta" (submit)="pesquisarClientes()">
        <div class="row">
          <div class="col-md-6">
            <label>Nome: </label>
            <input type="text" formControlName="nome" class="form-control" placeholder="Digite seu nome." />

            <div class="text-danger">{{ mensagemErro }}</div>

            <div class="text-danger" *ngIf="formConsulta.get('nome')?.touched && formConsulta.get('nome')?.invalid">
              Por favor, informe o nome do cliente de 5 a 100 caracteres.
            </div>

          </div>

          <div class="col-md-6">
            <input type="submit" class="btn btn-primary mt-4" value="Pesquisar Clientes"
              [disabled]="formConsulta.get('nome')?.invalid" />

            <input type="button" class="btn btn-success mt-4 ms-2" data-bs-toggle="modal"
              data-bs-target="#cadastroCliente" value="Cadastrar Cliente">
          </div>
        </div>
      </form>

      <div class="table-responsive mt-3 mb-3">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Cpf</th>
              <th [width]="140">Operações</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of clientes">
              <td>{{item.nome}}</td>
              <td>{{item.email}}</td>
              <td>{{item.cpf}}</td>
              <td>

                <button class="btn btn-sm btn-outline-primary me-1" data-bs-toggle="modal"
                  data-bs-target="#edicaoCliente" (click)="obterCliente(item)">
                  Editar
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="excluirCliente(item.id)">
                  Excluir
                </button>
              </td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="4">Quantidade de clientes: {{ clientes.length }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal para cadastro de cliente -->
<div class="modal fade" id="cadastroCliente" tabindex="-1" aria- labelledby="exampleModalLabel" aria-hidden="true"
  #cadastroClienteModal>

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Cadastro de Clientes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="formCadastro" (ngSubmit)="cadastrarCliente()">
          <div class="mb-2">
            <label>Nome do cliente:</label>
            <input type="text" class="form-control" formControlName="nome" placeholder="Digite aqui." />
            <div class="text-danger" *ngIf="fCadastro['nome'].touched && fCadastro['nome'].invalid">
              Por favor, informe o nome do cliente de 5 a 100 caracteres.
            </div>
          </div>

          <div class="mb-2">
            <label>Email do cliente:</label>
            <input type="email" formControlName="email" class="form-control"
              placeholder="Digite seu email no formato nome@example.com.br" />
            <div class="text-danger" *ngIf="fCadastro['email'].touched && fCadastro['email'].invalid">
              Por favor, informe o email do cliente.
            </div>
          </div>

          <div class="mb-4">
            <label>Email do cliente:</label>
            <input type="text" formControlName="cpf" class="form-control"
              placeholder="Digite seu cpf no formato 000.000.000-00" />
            <div class="text-danger" *ngIf="fCadastro['cpf'].touched && fCadastro['cpf'].invalid">
              Por favor, informe o cpf do cliente até 14 caracteres.
            </div>
          </div>

          <div class="mb-2 d-grid">
            <input type="submit" class="btn btn-success" data-bs-dismiss="modal" value="Realizar Cadastro do Cliente"
              [disabled]="formCadastro.invalid" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal para edicao de cliente -->
<div class="modal fade" id="edicaoCliente" tabindex="-1" aria- labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Edição de Clientes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="formEdicao" (ngSubmit)="editarCliente()">
          <div class="mb-2">
            <label>Nome do cliente:</label>
            <input type="text" class="form-control" formControlName="nome" placeholder="Digite aqui." />
            <div class="text-danger" *ngIf="fCadastro['nome'].touched && fCadastro['nome'].invalid">
              Por favor, informe o nome do cliente de 5 a 100 caracteres.
            </div>
          </div>

          <div class="mb-2">
            <label>Email do cliente:</label>
            <input type="email" formControlName="email" class="form-control"
              placeholder="Digite seu email no formato nome@example.com.br" />
            <div class="text-danger" *ngIf="fCadastro['email'].touched && fCadastro['email'].invalid">
              Por favor, informe o email do cliente.
            </div>
          </div>

          <div class="mb-4">
            <label>Email do cliente:</label>
            <input type="text" formControlName="cpf" class="form-control"
              placeholder="Digite seu cpf no formato 000.000.000-00" />
            <div class="text-danger" *ngIf="fCadastro['cpf'].touched && fCadastro['cpf'].invalid">
              Por favor, informe o cpf do cliente até 14 caracteres.
            </div>
          </div>

          <div class="mb-2 d-grid">
            <input type="submit" class="btn btn-success" data-bs-dismiss="modal" value="Salvar Alterações do Cliente"
              [disabled]="formEdicao.invalid" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>